html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #fff;
  color: #2c2c2c;
  font-family: Myriad Pro;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}
.header{
  margin-bottom: 51px;
}
.logo a{
  font-size: 80px;
  text-decoration: none;
  color: #000;
}
.logo a span{
  color: #4bcaff;
}
nav{
  background: #35444f;
}
.menu{
  text-align: center;
}
.menu li{
  display: inline-block;
}
.menu li a{
  color: #fff;
  display: inline-block;
  padding: 26px 41px;
  font-size: 24px;
  text-decoration: none;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.menu li a:hover{
  background: #222f3a;
  border-right: 1px solid #818181;
  border-left: 1px solid #818181;
}
.aside{
  max-width: 26%;
  width: 26%;
  margin-right: 52px;
  border: 1px solid #9aa1a7;
  display: inline-block;
  vertical-align: top;
}
.aside-menu li a{
  display: block;
  padding: 29px 0 29px 43px;
  text-decoration: none;
  color: #485863;
  font-size: 27px;
}
.aside-menu li a:hover{
  background: #dbdbdb;
  color: #000;
  padding: 29px 0 29px 69px;
}

.main-content{
  max-width: 69%;
  display: inline-block;
  margin-bottom: 50px;
}
.main-img{
  border: 1px solid #35444f;
  text-align: center;
  vertical-align: middle;
  padding: 74px 0;
  margin-bottom: 50px;
  max-height: 528px;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
.main-img img{
  max-width: 321px;
  height: 381px;
  object-fit: contain;
  position: relative;
  z-index: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.main-img:hover img{

  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);

}
.content-text{
  padding: 0 0 31px 30px;
  color: #2c2c2c;
  font-size: 18px;
  line-height: 1.5;
}
.footer .container{
  background: #b4b7ba;
  font-size: 28px;
  padding: 23px 44px;
  line-height: 1;
}
.footer-menu{
  display: inline-block;
}
.footer-menu li{
  display: inline-block;
  margin-right: 25px;

}
.footer-menu li a{
  color: #0c1927;
  text-decoration: none;
}
.footer-menu li a:hover{
  border-bottom: 1px solid #3181a6;
  color: #3181a6;
}
.copyright{
  display: inline-block;
  text-align: right;
}

